.home {
  position: relative;
  width: 100vw;
  max-height: 62.5vw;
  height: 100vh;
  background-color: #313237;
  overflow: hidden;
}

.home::after {
  position: absolute;
  z-index: 199;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  opacity: .7;
  background: radial-gradient(circle, rgba(16, 16, 18, 0) 0%, #101012 100%);
  pointer-events: none;
}

.home .search-pin-field {
  position: absolute;
  z-index: 201;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
}

.home .search-pin-field .search-pin {
  position: absolute;
}

.home .search-pin-field .search-pin .pin-centre {
  position: absolute;
  width: 0.69444vw;
  height: 0.69444vw;
  border-radius: 50%;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
}

.home .search-pin-field .search-pin .pin-wave {
  position: absolute;
  width: 0.69444vw;
  height: 0.69444vw;
  border: 0.13889vw solid #ffffff;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  transform: translate(-50%, -50%);
}

.home .search-pin-field .search-pin-1 {
  top: 20vw;
  left: 65.48611vw;
}

.home .search-pin-field .search-pin-2 {
  top: 44.09722vw;
  left: 20.13889vw;
}

.home .search-pin-field .search-pin-3 {
  top: 13.125vw;
  left: 20.13889vw;
}

.home .search-pin-field .search-pin-4 {
  top: 31.25vw;
  left: 33.40278vw;
}

.home .search-pin-field .search-pin-5 {
  top: 10.55556vw;
  left: 85.97222vw;
}

.home .search-pin-field .search-pin-6 {
  top: 40.625vw;
  left: 81.18056vw;
}

.home .main-connected {
  position: absolute;
  z-index: 204;
  top: 22.70833vw;
  left: 31.84028vw;
  width: 37.63889vw;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s cubic-bezier(0.64, 0.04, 0.35, 1) 0s;
}

.home .main-connected .info {
  font-family: "SF Pro Display";
  font-size: 1.66667vw;
  font-weight: 700;
  line-height: 2.01389vw;
  color: #80ff4b;
  text-align: center;
  transform: translateY(2.15278vw);
  transition: transform 0.5s cubic-bezier(0.64, 0.04, 0.35, 1) 0s;
}

.home .main-connected .ip {
  margin-top: 0.69444vw;
  font-family: "SF Pro Display";
  font-size: 5.55556vw;
  font-weight: 900;
  letter-spacing: -0.16667vw;
  line-height: 6.59722vw;
  color: #ffffff;
  text-align: center;
  transform: translateY(2.43056vw);
  transition: transform 0.5s cubic-bezier(0.64, 0.04, 0.35, 1) 0s;
}

.home .main-connected .virtual-location {
  margin-top: 1.38889vw;
  font-family: "SF Pro Display";
  font-size: 1.66667vw;
  font-weight: 500;
  line-height: 2.01389vw;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  transform: translateY(2.43056vw);
  transition: transform 0.5s cubic-bezier(0.64, 0.04, 0.35, 1) 0s;
}

.home .main-connected .virtual-location span {
  color: #ffffff;
}

.home .main-connected .disconnect {
  margin: 3.61111vw auto 0;
  width: 34.72222vw;
  height: 4.86111vw;
  text-align: center;
  transform: translateY(1.80556vw);
  transition: transform 0.5s cubic-bezier(0.64, 0.04, 0.35, 1) 0s;
}

.home .main-connected .disconnect .disconnect-btn {
  width: 15.27778vw;
  height: 4.86111vw;
  border-radius: 0.69444vw;
  background-color: #ffffff;
  font-family: "SF Pro Display";
  font-size: 1.66667vw;
  font-weight: 700;
  line-height: 2.01389vw;
  color: #101012;
  text-align: center;
}

.home .main {
  position: absolute;
  z-index: 203;
  top: 22.70833vw;
  left: 31.84028vw;
  width: 37.63889vw;
  opacity: 1;
  transition: opacity 0.5s cubic-bezier(0.64, 0.04, 0.35, 1) 0s;
}

.home .main .info {
  font-family: "SF Pro Display";
  font-size: 1.66667vw;
  font-weight: 700;
  line-height: 2.01389vw;
  color: #FF7387;
  text-align: center;
  transition: transform 0.5s cubic-bezier(0.64, 0.04, 0.35, 1) 0s;
}

.home .main .ip {
  margin-top: 0.69444vw;
  font-family: "SF Pro Display";
  font-size: 5.55556vw;
  font-weight: 900;
  letter-spacing: -0.16667vw;
  line-height: 6.59722vw;
  color: #ffffff;
  text-align: center;
  transition: transform 0.5s cubic-bezier(0.64, 0.04, 0.35, 1) 0s;
}

.home .main .current-location {
  margin-top: 1.38889vw;
  font-family: "SF Pro Display";
  font-size: 1.66667vw;
  font-weight: 500;
  line-height: 2.01389vw;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  transition: transform 0.5s cubic-bezier(0.64, 0.04, 0.35, 1) 0s;
}

.home .main .current-location span {
  color: #ffffff;
}

.home .main .connect {
  display: flex;
  justify-content: space-between;
  margin: 3.61111vw auto 0;
  width: 34.72222vw;
  height: 4.86111vw;
  transition: transform 0.5s cubic-bezier(0.64, 0.04, 0.35, 1) 0s;
}

.home .main .connect .location {
  padding-left: 1.90972vw;
  width: 21.18056vw;
  height: 4.86111vw;
  border: 0.13889vw solid #ffffff;
  border-radius: 0.69444vw;
  background-color: rgba(255, 255, 255, 0.1);
  font-family: "SF Pro Display";
  font-size: 1.66667vw;
  font-weight: 500;
  line-height: 4.58333vw;
  color: #ffffff;
}

.home .main .connect .location span {
  color: rgba(255, 255, 255, 0.7);
}

.home .main .connect .connect-btn {
  width: 12.15278vw;
  height: 4.86111vw;
  border-radius: 0.69444vw;
  background-color: #ffffff;
  font-family: "SF Pro Display";
  font-size: 1.66667vw;
  font-weight: 700;
  line-height: 2.01389vw;
  color: #101012;
  text-align: center;
}

.home .pin-field {
  position: absolute;
  z-index: 200;
  top: 19.23611vw;
  left: 50vw;
}

.home .pin-field .pin-centre {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  width: 0.69444vw;
  height: 0.69444vw;
  border-radius: 50%;
  background-color: #ffffff;
}

.home .pin-field .pin-wave-small {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  width: 7.63889vw;
  height: 7.63889vw;
  border: 0.13889vw solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.04);
}

.home .pin-field .pin-wave-normal {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  width: 31.25vw;
  height: 31.25vw;
  border: 0.13889vw solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.04);
}

.home .pin-field .pin-wave-large {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  width: 66.66667vw;
  height: 66.66667vw;
  border: 0.13889vw solid rgba(255, 255, 255, 0.05);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.02);
}

.home .maps::after {
  position: absolute;
  z-index: 198;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  background: radial-gradient(circle, rgba(16, 16, 18, 0) 0%, rgba(16, 16, 18, 0.88) 100%);
}

.home .maps .Lagos-Nigeria {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: scale(1.0306) translate(1.48457%, 1.48457%) translate(-1.48242vw, -24.86416vw);
  transition: opacity 0.5s cubic-bezier(0.64, 0.04, 0.35, 1) 0s, transform 0.5s cubic-bezier(0.64, 0.04, 0.35, 1) 0s;
}

.home .maps .United-States {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transform: scale(0.8375) translate(-9.70149%, -9.70149%) translate(9.70149vw, -12.68657vw);
}

.home .maps .Iowa-US {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transform: scale(0.0653) translate(-715.69678%, -715.69678%) translate(1003.93483vw, 211.65135vw);
  transition: opacity 0.5s cubic-bezier(0.64, 0.04, 0.35, 1) 0s, transform 0.5s cubic-bezier(0.64, 0.04, 0.35, 1) 0s;
}

.home .globe {
  position: absolute;
  z-index: 197;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transform: scale(15.0083) translate(46.66851%, 46.66851%) translate(-46.23368vw, -27.06373vw) rotate(90deg);
}

.home .map-grid {
  position: absolute;
  z-index: 196;
  top: 0;
  left: 0;
  width: 101.38889vw;
  height: 63.95833vw;
  background-image: url(../images/Map-Grid.png);
  background-size: 100%;
  background-repeat: no-repeat;
  transform: translate(-0.69444vw, -0.69444vw);
}

.home.connecting-begin .main {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s cubic-bezier(0.64, 0.04, 0.35, 1) 0.37s;
}

.home.connecting-begin .main .info {
  transform: translate(-2.98611vw, 2.08333vw);
  transition: transform 0.5s cubic-bezier(0.64, 0.04, 0.35, 1) 0.37s;
}

.home.connecting-begin .main .ip {
  transform: translate(4.13194vw, 2.08333vw);
  transition: transform 0.5s cubic-bezier(0.64, 0.04, 0.35, 1) 0.37s;
}

.home.connecting-begin .main .current-location {
  transform: translate(-1.90972vw, 2.08333vw);
  transition: transform 0.5s cubic-bezier(0.64, 0.04, 0.35, 1) 0.37s;
}

.home.connecting-begin .main .connect {
  transform: translate(0, 1.38889vw);
  transition: transform 0.5s cubic-bezier(0.64, 0.04, 0.35, 1) 0.37s;
}

.home.connecting-begin .pin-field {
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.64, 0.04, 0.35, 1) 0.5s;
}

.home.connecting-begin .pin-field .pin-centre {
  transform: translate(-50%, -50%) translateY(9.02778vw);
  transition: transform 0.5s cubic-bezier(0.64, 0.04, 0.35, 1) 0.5s;
}

.home.connecting-begin .pin-field .pin-wave-small {
  width: 0.55556vw;
  height: 0.55556vw;
  transition: width 0.4s cubic-bezier(0.64, 0.04, 0.35, 1) 0s, height 0.4s cubic-bezier(0.64, 0.04, 0.35, 1) 0s;
}

.home.connecting-begin .pin-field .pin-wave-normal {
  width: 0.97222vw;
  height: 0.97222vw;
  transition: width 0.4s cubic-bezier(0.64, 0.04, 0.35, 1) 0s, height 0.4s cubic-bezier(0.64, 0.04, 0.35, 1) 0s;
}

.home.connecting-begin .pin-field .pin-wave-large {
  width: 0.97222vw;
  height: 0.97222vw;
  transition: width 0.4s cubic-bezier(0.64, 0.04, 0.35, 1) 0s, height 0.4s cubic-bezier(0.64, 0.04, 0.35, 1) 0s;
}

.home.connecting-begin .maps::after {
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.55, 0.05, 0.67, 0.19) 0.5s;
}

.home.connecting-begin .maps .Lagos-Nigeria {
  opacity: 0;
  transform: scale(0.0306) translate(-1583.98693%, -1583.98693%) translate(1534.72222vw, 1130.76434vw) rotate(-30deg);
  transition: opacity 0.2s cubic-bezier(0.55, 0.05, 0.67, 0.19) 0.5s, transform 0.2s cubic-bezier(0.55, 0.05, 0.67, 0.19) 0.5s;
}

.home.connecting-begin .globe {
  opacity: 1;
  transform: scale(1.2722) translate(10.698%, 10.698%) translate(-10.69888vw, 1.5961vw) rotate(0deg);
  transition: opacity 0.52s cubic-bezier(0.22, 0.61, 0.35, 1) 0.71s, transform 0.52s cubic-bezier(0.22, 0.61, 0.35, 1) 0.71s;
}

.home.connecting-search-locations .search-pin-field {
  opacity: 1;
  transition: opacity 0.5s cubic-bezier(0.22, 0.61, 0.35, 1) 0.65s;
}

.home.connecting-search-locations .search-pin-field .search-pin .pin-wave {
  width: 9.58333vw;
  height: 9.58333vw;
  opacity: 0;
}

.home.connecting-search-locations .search-pin-field .search-pin-1 .pin-wave {
  transition: width 0.83s cubic-bezier(0.22, 0.61, 0.35, 1) 0.65s, height 0.83s cubic-bezier(0.22, 0.61, 0.35, 1) 0.65s, opacity 0.83s cubic-bezier(0.22, 0.61, 0.35, 1) 0.65s;
}

.home.connecting-search-locations .search-pin-field .search-pin-2 .pin-wave {
  transition: width 0.86s cubic-bezier(0.22, 0.61, 0.35, 1) 0.83s, height 0.86s cubic-bezier(0.22, 0.61, 0.35, 1) 0.83s, opacity 0.86s cubic-bezier(0.22, 0.61, 0.35, 1) 0.83s;
}

.home.connecting-search-locations .search-pin-field .search-pin-3 .pin-wave {
  transition: width 1.02s cubic-bezier(0.22, 0.61, 0.35, 1) 0.72s, height 1.02s cubic-bezier(0.22, 0.61, 0.35, 1) 0.72s, opacity 1.02s cubic-bezier(0.22, 0.61, 0.35, 1) 0.72s;
}

.home.connecting-search-locations .search-pin-field .search-pin-4 .pin-wave {
  transition: width 1.14s cubic-bezier(0.22, 0.61, 0.35, 1) 0.78s, height 1.14s cubic-bezier(0.22, 0.61, 0.35, 1) 0.78s, opacity 1.14s cubic-bezier(0.22, 0.61, 0.35, 1) 0.78s;
}

.home.connecting-search-locations .search-pin-field .search-pin-5 .pin-wave {
  transition: width 1.07s cubic-bezier(0.22, 0.61, 0.35, 1) 0.65s, height 1.07s cubic-bezier(0.22, 0.61, 0.35, 1) 0.65s, opacity 1.07s cubic-bezier(0.22, 0.61, 0.35, 1) 0.65s;
}

.home.connecting-search-locations .search-pin-field .search-pin-6 .pin-wave {
  transition: width 1.1s cubic-bezier(0.22, 0.61, 0.35, 1) 0.9s, height 1.1s cubic-bezier(0.22, 0.61, 0.35, 1) 0.9s, opacity 1.1s cubic-bezier(0.22, 0.61, 0.35, 1) 0.9s;
}

.home.connecting-search-locations .maps .United-States {
  opacity: 1;
  transform: scale(1.0306) translate(1.48457%, 1.48457%) translate(-1.48242vw, -24.86416vw);
  transition: opacity 0.56s cubic-bezier(0, 0.63, 0.35, 1) 0.18s, transform 0.56s cubic-bezier(0.22, 0.61, 0.35, 1) 0.18s;
}

.home.connecting-search-locations .globe {
  opacity: 0;
  transform: scale(7.4569) translate(43.2948%, 43.2948%) translate(-6.84489vw, -7.04046vw) rotate(0deg);
  transition: opacity 0.74s cubic-bezier(0.22, 0.61, 0.35, 1) 0s, transform 0.74s cubic-bezier(0.22, 0.61, 0.35, 1) 0s;
}

.home.connected .main-connected {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.5s cubic-bezier(0.64, 0.04, 0.35, 1) 0s;
}

.home.connected .main-connected .info {
  transform: translateY(0vw);
  transition: transform 0.5s cubic-bezier(0.64, 0.04, 0.35, 1) 0s;
}

.home.connected .main-connected .ip {
  transform: translateY(0vw);
  transition: transform 0.5s cubic-bezier(0.64, 0.04, 0.35, 1) 0s;
}

.home.connected .main-connected .virtual-location {
  transform: translateY(0vw);
  transition: transform 0.5s cubic-bezier(0.64, 0.04, 0.35, 1) 0s;
}

.home.connected .main-connected .disconnect {
  transform: translateY(0vw);
  transition: transform 0.5s cubic-bezier(0.64, 0.04, 0.35, 1) 0s;
}

.home.connected .search-pin-field .search-pin-1 {
  top: 19.23611vw;
  left: 50vw;
  transition: top 0.5s cubic-bezier(0.64, 0.04, 0.35, 1) 0s, left 0.5s cubic-bezier(0.64, 0.04, 0.35, 1) 0s;
}

.home.connected .search-pin-field .search-pin-2 {
  top: 65.20833vw;
  left: 9.65278vw;
  opacity: 0;
  transition: top 0.5s cubic-bezier(0.64, 0.04, 0.35, 1) 0s, left 0.5s cubic-bezier(0.64, 0.04, 0.35, 1) 0s, opacity 0.5s cubic-bezier(0.64, 0.04, 0.35, 1) 0s;
}

.home.connected .search-pin-field .search-pin-3 {
  top: 34.23611vw;
  left: 9.65278vw;
  opacity: 0;
  transition: top 0.5s cubic-bezier(0.64, 0.04, 0.35, 1) 0s, left 0.5s cubic-bezier(0.64, 0.04, 0.35, 1) 0s, opacity 0.5s cubic-bezier(0.64, 0.04, 0.35, 1) 0s;
}

.home.connected .search-pin-field .search-pin-4 {
  top: 31.52778vw;
  left: 22.84722vw;
  opacity: 0;
  transition: top 0.5s cubic-bezier(0.64, 0.04, 0.35, 1) 0s, left 0.5s cubic-bezier(0.64, 0.04, 0.35, 1) 0s, opacity 0.5s cubic-bezier(0.64, 0.04, 0.35, 1) 0s;
}

.home.connected .search-pin-field .search-pin-5 {
  top: 31.66667vw;
  left: 75.48611vw;
  opacity: 0;
  transition: top 0.5s cubic-bezier(0.64, 0.04, 0.35, 1) 0s, left 0.5s cubic-bezier(0.64, 0.04, 0.35, 1) 0s, opacity 0.5s cubic-bezier(0.64, 0.04, 0.35, 1) 0s;
}

.home.connected .search-pin-field .search-pin-6 {
  top: 61.73611vw;
  left: 70.69444vw;
  opacity: 0;
  transition: top 0.5s cubic-bezier(0.64, 0.04, 0.35, 1) 0s, left 0.5s cubic-bezier(0.64, 0.04, 0.35, 1) 0s, opacity 0.5s cubic-bezier(0.64, 0.04, 0.35, 1) 0s;
}

.home.connected .pin-field {
  opacity: 1;
  transition: opacity 0.5s cubic-bezier(0.64, 0.04, 0.35, 1) 0.28s;
}

.home.connected .pin-field .pin-centre {
  opacity: 0;
  transition: none;
}

.home.connected .pin-field .pin-wave-small {
  width: 7.63889vw;
  height: 7.63889vw;
  transition: width 0.64s cubic-bezier(0.64, 0.04, 0.35, 1) 0.28s, height 0.64s cubic-bezier(0.64, 0.04, 0.35, 1) 0.28s;
}

.home.connected .pin-field .pin-wave-normal {
  width: 31.25vw;
  height: 31.25vw;
  transition: width 0.69s cubic-bezier(0.64, 0.04, 0.35, 1) 0.48s, height 0.69s cubic-bezier(0.64, 0.04, 0.35, 1) 0.48s;
}

.home.connected .pin-field .pin-wave-large {
  width: 67.08333vw;
  height: 67.08333vw;
  transition: width 0.95s cubic-bezier(0.64, 0.04, 0.35, 1) 0.76s, height 0.95s cubic-bezier(0.64, 0.04, 0.35, 1) 0.76s;
}

.home.connected .maps::after {
  opacity: 1;
  transition: opacity 0.5s cubic-bezier(0.64, 0.04, 0.35, 1) 0s;
}

.home.connected .maps .Lagos-Nigeria {
  opacity: 0;
  transform: scale(2.5861) translate(30.66587%, 30.66587%) translate(-31.03343vw, -35.81326vw) rotate(-30deg);
  transition: opacity 0.5s cubic-bezier(0.64, 0.04, 0.35, 1) 0s, transform 0.5s cubic-bezier(0.64, 0.04, 0.35, 1) 0s;
}

.home.connected .maps .United-States {
  opacity: 0;
  transform: scale(3.0083) translate(33.37932%, 33.37932%) translate(-50.50841vw, -37.81205vw);
  transition: opacity 0.5s cubic-bezier(0.64, 0.04, 0.35, 1) 0s, transform 0.5s cubic-bezier(0.64, 0.04, 0.35, 1) 0s;
}

.home.connected .maps .Iowa-US {
  opacity: 1;
  transform: scale(1.0306) translate(1.48457%, 1.48457%) translate(-1.48242vw, -36.52134vw);
  transition: opacity 0.5s cubic-bezier(0.64, 0.04, 0.35, 1) 0s, transform 0.5s cubic-bezier(0.64, 0.04, 0.35, 1) 0s;
}

* {
  box-sizing: border-box;
}

html, body, button, ul, li, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

html {
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
}

button, input {
  border: none;
  outline: none;
  cursor: pointer;
}

ul, li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/*# sourceMappingURL=main.css.map */