.home.connecting-begin {

  .main {
    opacity: 0;
    transition: opacity .5s $ease-both .37s;

    .info {
      transform: translate(-43px, 30px);
      transition: transform .5s $ease-both .37s;
    }

    .ip {
      transform: translate(59.5px, 30px);
      transition: transform .5s $ease-both .37s;
    }

    .current-location {
      transform: translate(-27.5px, 30px);
      transition: transform .5s $ease-both .37s;
    }

    .select-location {
      transform: translate(0, 20px);
      transition: transform .5s $ease-both .37s;
    }
  }

  .pin-field {
    opacity: 0;
    transition: opacity .5s $ease-both .5s;

    .pin-centre {
      transform: translate(-50%, -50%) translateY(130px);
      transition: transform .5s $ease-both .5s;
    }

    .pin-wave-small {
      width: 8px;
      height: 8px;
      transition: width .4s $ease-both 0s, height .4s $ease-both 0s;
    }

    .pin-wave-normal {
      width: 14px;
      height: 14px;
      transition: width .4s $ease-both 0s, height .4s $ease-both 0s;
    }

    .pin-wave-large {
      width: 14px;
      height: 14px;
      transition: width .4s $ease-both 0s, height .4s $ease-both 0s;
    }
  }

  .maps {
    &::after {
      opacity: 0;
      transition: opacity .5s $ease-in .5s;
    }

    .Lagos-Nigeria {
      width: 3.06%;
      opacity: 0;
      transform: translate(676.26px, 498.26px) rotate(-30deg);
      transition: width .2s $ease-in .5s, opacity .2s $ease-in .5s, transform .2s $ease-in .5s;
    }
  }
}