.home.connected {

  .search-pin-field {
    .search-pin-1 {
      top: 277px;
      left: 720px;
      transition: top .5s $ease-both 0s, left .5s $ease-both 0s;
    }

    .search-pin-2 {
      top: 939px;
      left: 139px;
      opacity: 0;
      transition: top .5s $ease-both 0s, left .5s $ease-both 0s, opacity .5s $ease-both 0s;
    }

    .search-pin-3 {
      top: 493px;
      left: 139px;
      opacity: 0;
      transition: top .5s $ease-both 0s, left .5s $ease-both 0s, opacity .5s $ease-both 0s;
    }

    .search-pin-4 {
      top: 454px;
      left: 329px;
      opacity: 0;
      transition: top .5s $ease-both 0s, left .5s $ease-both 0s, opacity .5s $ease-both 0s;
    }

    .search-pin-5 {
      top: 456px;
      left: 1087px;
      opacity: 0;
      transition: top .5s $ease-both 0s, left .5s $ease-both 0s, opacity .5s $ease-both 0s;
    }

    .search-pin-6 {
      top: 889px;
      left: 1018px;
      opacity: 0;
      transition: top .5s $ease-both 0s, left .5s $ease-both 0s, opacity .5s $ease-both 0s;
    }
  }

  .pin-field {
    opacity: 1;
    transition: opacity .5s $ease-both .28s;

    .pin-centre {
      opacity: 0;
      transition: none;
    }

    .pin-wave-small {
      width: 110px;
      height: 110px;
      transition: width .64s $ease-both .28s, height .64s $ease-both .28s;
    }

    .pin-wave-normal {
      width: 450px;
      height: 450px;
      transition: width .69s $ease-both .48s, height .69s $ease-both .48s;
    }

    .pin-wave-large {
      width: 966px;
      height: 966px;
      transition: width .95s $ease-both .76s, height .95s $ease-both .76s;
    }
  }

  .maps {
    &::after {
      opacity: 1;
      transition: opacity .5s $ease-both 0s;
    }

    .Lagos-Nigeria {
      $scale-value: 2.5861;
      opacity: 0;
      transform: scale($scale-value) translate(50% - 50% / $scale-value, 50% - 50% / $scale-value) translate(-1155.68 / $scale-value + px, -1333.68 / $scale-value + px) rotate(-30deg);
      transition: opacity .5s $ease-both 0s, transform .5s $ease-both 0s;
    }

    .United-States {
      $scale-value: 3.0083;
      opacity: 0;
      transform: scale($scale-value) translate(50% - 50% / $scale-value, 50% - 50% / $scale-value) translate(-2188 / $scale-value + px, -1638 / $scale-value + px);
      transition: opacity .5s $ease-both 0s, transform .5s $ease-both 0s;
    }

    .Iowa-US {
      $scale-value: 1.0306;
      opacity: 1;
      transform: scale($scale-value) translate(50% - 50% / $scale-value, 50% - 50% / $scale-value) translate(-22 / $scale-value + px, -542 / $scale-value + px);
      transition: opacity .5s $ease-both 0s, transform .5s $ease-both 0s;
    }
  }
}