.home.connecting-begin {

  .main {
    opacity: 0;
    transition: opacity .5s $ease-both .37s;

    .info {
      transform: translate(-43px, 30px);
      transition: transform .5s $ease-both .37s;
    }

    .ip {
      transform: translate(59.5px, 30px);
      transition: transform .5s $ease-both .37s;
    }

    .current-location {
      transform: translate(-27.5px, 30px);
      transition: transform .5s $ease-both .37s;
    }

    .connect {
      transform: translate(0, 20px);
      transition: transform .5s $ease-both .37s;
    }
  }

  .pin-field {
    opacity: 0;
    transition: opacity .5s $ease-both .5s;

    .pin-centre {
      transform: translate(-50%, -50%) translateY(130px);
      transition: transform .5s $ease-both .5s;
    }

    .pin-wave-small {
      width: 8px;
      height: 8px;
      transition: width .4s $ease-both 0s, height .4s $ease-both 0s;
    }

    .pin-wave-normal {
      width: 14px;
      height: 14px;
      transition: width .4s $ease-both 0s, height .4s $ease-both 0s;
    }

    .pin-wave-large {
      width: 14px;
      height: 14px;
      transition: width .4s $ease-both 0s, height .4s $ease-both 0s;
    }
  }

  .maps {
    &::after {
      opacity: 0;
      transition: opacity .5s $ease-in .5s;
    }

    .Lagos-Nigeria {
      $scale-value: .0306;
      opacity: 0;
      transform: scale($scale-value) translate(50% - 50% / $scale-value, 50% - 50% / $scale-value) translate(676.26 / $scale-value + px, 498.26 / $scale-value + px) rotate(-30deg);
      transition: opacity .2s $ease-in .5s, transform .2s $ease-in .5s;
    }
  }

  .globe {
    $scale-value: 1.2722;
    opacity: 1;
    transform: scale($scale-value) translate(50% - 50% / $scale-value, 50% - 50% / $scale-value) translate(-196 / $scale-value + px, 29.24 / $scale-value + px) rotate(0deg);
    transition: opacity .52s $ease-out .71s, transform .52s $ease-out .71s;
  }
}