.home.connecting-begin {

  .main {
    opacity: 0;
    pointer-events: none;
    transition: opacity .5s $ease-both .37s;

    .info {
      transform: translate(px2vw(-43), px2vw(30));
      transition: transform .5s $ease-both .37s;
    }

    .ip {
      transform: translate(px2vw(59.5), px2vw(30));
      transition: transform .5s $ease-both .37s;
    }

    .current-location {
      transform: translate(px2vw(-27.5), px2vw(30));
      transition: transform .5s $ease-both .37s;
    }

    .connect {
      transform: translate(0, px2vw(20));
      transition: transform .5s $ease-both .37s;
    }
  }

  .pin-field {
    opacity: 0;
    transition: opacity .5s $ease-both .5s;

    .pin-centre {
      transform: translate(-50%, -50%) translateY(px2vw(130));
      transition: transform .5s $ease-both .5s;
    }

    .pin-wave-small {
      width: px2vw(8);
      height: px2vw(8);
      transition: width .4s $ease-both 0s, height .4s $ease-both 0s;
    }

    .pin-wave-normal {
      width: px2vw(14);
      height: px2vw(14);
      transition: width .4s $ease-both 0s, height .4s $ease-both 0s;
    }

    .pin-wave-large {
      width: px2vw(14);
      height: px2vw(14);
      transition: width .4s $ease-both 0s, height .4s $ease-both 0s;
    }
  }

  .maps {
    &::after {
      opacity: 0;
      transition: opacity .5s $ease-in .5s;
    }

    .Lagos-Nigeria {
      $scale-value: .0306;
      opacity: 0;
      transform: scale($scale-value) translate(50% - 50% / $scale-value, 50% - 50% / $scale-value) translate(px2vw(676.26 / $scale-value), px2vw(498.26 / $scale-value)) rotate(-30deg);
      transition: opacity .2s $ease-in .5s, transform .2s $ease-in .5s;
    }
  }

  .globe {
    $scale-value: 1.2722;
    opacity: 1;
    transform: scale($scale-value) translate(50% - 50% / $scale-value, 50% - 50% / $scale-value) translate(px2vw(-196 / $scale-value), px2vw(29.24 / $scale-value)) rotate(0deg);
    transition: opacity .52s $ease-out .71s, transform .52s $ease-out .71s;
  }
}