$z-index-base: 200;

.home {
  position: relative;
  width: px2vw($root-width);
  max-height: px2vw($root-height);
  height: 100vh;
  background-color: #313237;
  overflow: hidden;

  &::after {
    position: absolute;
    z-index: $z-index-base - 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    opacity: .7;
    background: radial-gradient(circle, rgba(16, 16, 18, 0) 0%, #101012 100%);
    pointer-events: none;
  }

  .search-pin-field {
    position: absolute;
    z-index: $z-index-base + 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;

    .search-pin {
      position: absolute;

      .pin-centre {
        position: absolute;
        width: px2vw(10);
        height: px2vw(10);
        border-radius: 50%;
        background-color: #ffffff;
        transform: translate(-50%, -50%);
      }

      .pin-wave {
        position: absolute;
        width: px2vw(10);
        height: px2vw(10);
        border: px2vw(2) solid #ffffff;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, .2);
        transform: translate(-50%, -50%);
      }
    }

    .search-pin-1 {
      top: px2vw(288);
      left: px2vw(943);
    }

    .search-pin-2 {
      top: px2vw(635);
      left: px2vw(290);
    }
    
    .search-pin-3 {
      top: px2vw(189);
      left: px2vw(290);
    }

    .search-pin-4 {
      top: px2vw(450);
      left: px2vw(481);
    }

    .search-pin-5 {
      top: px2vw(152);
      left: px2vw(1238);
    }

    .search-pin-6 {
      top: px2vw(585);
      left: px2vw(1169);
    }
  }

  .main-connected {
    position: absolute;
    z-index: $z-index-base + 4;
    top: px2vw(327);
    left: px2vw(458.5);
    width: px2vw(542);
    opacity: 0;
    pointer-events: none;
    transition: opacity .5s $ease-both 0s;

    .info {
      font-family: "SF Pro Display";
      font-size: px2vw(24);
      font-weight: 700;
      line-height: px2vw(29);
      color: #80ff4b;
      text-align: center;
      transform: translateY(px2vw(31));
      transition: transform .5s $ease-both 0s;
    }

    .ip {
      margin-top: px2vw(10);
      font-family: "SF Pro Display";
      font-size: px2vw(80);
      font-weight: 900;
      letter-spacing: px2vw(-2.4);
      line-height: px2vw(95);
      color: #ffffff;
      text-align: center;
      transform: translateY(px2vw(35));
      transition: transform .5s $ease-both 0s;
    }

    .virtual-location {
      margin-top: px2vw(20);
      font-family: "SF Pro Display";
      font-size: px2vw(24);
      font-weight: 500;
      line-height: px2vw(29);
      color: rgba(255, 255, 255, .5);
      text-align: center;
      transform: translateY(px2vw(35));
      transition: transform .5s $ease-both 0s;

      span {
        color: #ffffff;
      }
    }

    .disconnect {
      margin: px2vw(52) auto 0;
      width: px2vw(500);
      height: px2vw(70);
      text-align: center;
      transform: translateY(px2vw(26));
      transition: transform .5s $ease-both 0s;

      .disconnect-btn {
        width: px2vw(220);
        height: px2vw(70);
        border-radius: px2vw(10);
        background-color: #ffffff;
        font-family: "SF Pro Display";
        font-size: px2vw(24);
        font-weight: 700;
        line-height: px2vw(29);
        color: #101012;
        text-align: center;
      }
    }
  }

  .main {
    position: absolute;
    z-index: $z-index-base + 3;
    top: px2vw(327);
    left: px2vw(458.5);
    width: px2vw(542);
    opacity: 1;
    transition: opacity .5s $ease-both 0s;

    .info {
      font-family: "SF Pro Display";
      font-size: px2vw(24);
      font-weight: 700;
      line-height: px2vw(29);
      color: #FF7387;
      text-align: center;
      transition: transform .5s $ease-both 0s;
    }

    .ip {
      margin-top: px2vw(10);
      font-family: "SF Pro Display";
      font-size: px2vw(80);
      font-weight: 900;
      letter-spacing: px2vw(-2.4);
      line-height: px2vw(95);
      color: #ffffff;
      text-align: center;
      transition: transform .5s $ease-both 0s;
    }

    .current-location {
      margin-top: px2vw(20);
      font-family: "SF Pro Display";
      font-size: px2vw(24);
      font-weight: 500;
      line-height: px2vw(29);
      color: rgba(255, 255, 255, .5);
      text-align: center;
      transition: transform .5s $ease-both 0s;

      span {
        color: #ffffff;
      }
    }

    .connect {
      display: flex;
      justify-content: space-between;
      margin: px2vw(52) auto 0;
      width: px2vw(500);
      height: px2vw(70);
      transition: transform .5s $ease-both 0s;

      .location {
        padding-left: px2vw(27.5);
        width: px2vw(305);
        height: px2vw(70);
        border: px2vw(2) solid #ffffff;
        border-radius: px2vw(10);
        background-color: rgba(255, 255, 255, .1);
        font-family: "SF Pro Display";
        font-size: px2vw(24);
        font-weight: 500;
        line-height: px2vw(66);
        color: #ffffff;

        span {
          color: rgba(255, 255, 255, .7);
        }
      }

      .connect-btn {
        width: px2vw(175);
        height: px2vw(70);
        border-radius: px2vw(10);
        background-color: #ffffff;
        font-family: "SF Pro Display";
        font-size: px2vw(24);
        font-weight: 700;
        line-height: px2vw(29);
        color: #101012;
        text-align: center;
      }
    }
  }

  .pin-field {
    position: absolute;
    z-index: $z-index-base;
    top: px2vw(277);
    left: px2vw(720);

    .pin-centre {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(-50%, -50%);
      width: px2vw(10);
      height: px2vw(10);
      border-radius: 50%;
      background-color: #ffffff;
    }

    .pin-wave-small {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(-50%, -50%);
      width: px2vw(110);
      height: px2vw(110);
      border: px2vw(2) solid rgba(255, 255, 255, .3);
      border-radius: 50%;
      background-color: rgba(255, 255, 255, .04);
    }

    .pin-wave-normal {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(-50%, -50%);
      width: px2vw(450);
      height: px2vw(450);
      border: px2vw(2) solid rgba(255, 255, 255, .1);
      border-radius: 50%;
      background-color: rgba(255, 255, 255, .04);
    }

    .pin-wave-large {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(-50%, -50%);
      width: px2vw(960);
      height: px2vw(960);
      border: px2vw(2) solid rgba(255, 255, 255, .05);
      border-radius: 50%;
      background-color: rgba(255, 255, 255, .02);
    }
  }

  .maps {
    &::after {
      position: absolute;
      z-index: $z-index-base - 2;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      content: '';
      background: radial-gradient(circle, rgba(16, 16, 18, 0) 0%, rgba(16, 16, 18, .88) 100%);
    }

    .Lagos-Nigeria {
      $scale-value: 1.0306;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      transform: scale($scale-value) translate(50% - 50% / $scale-value, 50% - 50% / $scale-value) translate(px2vw(-22 / $scale-value), px2vw(-369 / $scale-value));
      transition: opacity .5s $ease-both 0s, transform .5s $ease-both 0s;
    }

    .United-States {
      $scale-value: .8375;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      opacity: 0;
      transform: scale($scale-value) translate(50% - 50% / $scale-value, 50% - 50% / $scale-value) translate(px2vw(117 / $scale-value), px2vw(-153 / $scale-value));
    }

    .Iowa-US {
      $scale-value: .0653;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      opacity: 0;
      transform: scale($scale-value) translate(50% - 50% / $scale-value, 50% - 50% / $scale-value) translate(px2vw(944.02 / $scale-value), px2vw(199.02 / $scale-value));
      transition: opacity .5s $ease-both 0s, transform .5s $ease-both 0s;
    }
  }

  .globe {
    $scale-value: 15.0083;
    position: absolute;
    z-index: $z-index-base - 3;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transform: scale($scale-value) translate(50% - 50% / $scale-value, 50% - 50% / $scale-value) translate(px2vw(-9992 / $scale-value), px2vw(-5849 / $scale-value)) rotate(90deg);
  }

  .map-grid {
    position: absolute;
    z-index: $z-index-base - 4;
    top: 0;
    left: 0;
    width: px2vw(1460);
    height: px2vw(921);
    background-image: url(../images/Map-Grid.png);
    background-size: 100%;
    background-repeat: no-repeat;
    transform: translate(px2vw(-10), px2vw(-10));
  }
}