$z-index-base: 200;

.home {
  position: relative;
  width: $root-width;
  height: $root-height;
  background-color: #313237;
  overflow: hidden;

  &::after {
    position: absolute;
    z-index: $z-index-base - 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    opacity: .7;
    background: radial-gradient(circle, rgba(16, 16, 18, 0) 0%, #101012 100%);
    pointer-events: none;
  }

  .search-pin-field {
    position: absolute;
    z-index: $z-index-base + 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;

    .search-pin {
      position: absolute;

      .pin-centre {
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #ffffff;
        transform: translate(-50%, -50%);
      }

      .pin-wave {
        position: absolute;
        width: 10px;
        height: 10px;
        border: 2px solid #ffffff;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, .2);
        transform: translate(-50%, -50%);
      }
    }

    .search-pin-1 {
      top: 288px;
      left: 943px;
    }

    .search-pin-2 {
      top: 635px;
      left: 290px;
    }
    
    .search-pin-3 {
      top: 189px;
      left: 290px;
    }

    .search-pin-4 {
      top: 450px;
      left: 481px;
    }

    .search-pin-5 {
      top: 152px;
      left: 1238px;
    }

    .search-pin-6 {
      top: 585px;
      left: 1169px;
    }
  }

  .main-connected {
    position: absolute;
    z-index: $z-index-base + 4;
    top: 327px;
    left: 458.5px;
    width: 542px;
    opacity: 0;
    pointer-events: none;
    transition: opacity .5s $ease-both 0s;

    .info {
      font-family: "SF Pro Display";
      font-size: 24px;
      font-weight: 700;
      line-height: 29px;
      color: #80ff4b;
      text-align: center;
      transform: translateY(31px);
      transition: transform .5s $ease-both 0s;
    }

    .ip {
      margin-top: 10px;
      font-family: "SF Pro Display";
      font-size: 80px;
      font-weight: 900;
      letter-spacing: -2.4px;
      line-height: 95px;
      color: #ffffff;
      text-align: center;
      transform: translateY(35px);
      transition: transform .5s $ease-both 0s;
    }

    .virtual-location {
      margin-top: 20px;
      font-family: "SF Pro Display";
      font-size: 24px;
      font-weight: 500;
      line-height: 29px;
      color: rgba(255, 255, 255, .5);
      text-align: center;
      transform: translateY(35px);
      transition: transform .5s $ease-both 0s;

      span {
        color: #ffffff;
      }
    }

    .select-location {
      margin: 52px auto 0;
      width: 500px;
      height: 70px;
      text-align: center;
      transform: translateY(26px);
      transition: transform .5s $ease-both 0s;

      .select-btn {
        width: 220px;
        height: 70px;
        border-radius: 10px;
        background-color: #ffffff;
        font-family: "SF Pro Display";
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        color: #101012;
        text-align: center;
      }
    }
  }

  .main {
    position: absolute;
    z-index: $z-index-base + 3;
    top: 327px;
    left: 458.5px;
    width: 542px;
    opacity: 1;
    transition: opacity .5s $ease-both 0s;

    .info {
      font-family: "SF Pro Display";
      font-size: 24px;
      font-weight: 700;
      line-height: 29px;
      color: #FF7387;
      text-align: center;
      transition: transform .5s $ease-both 0s;
    }

    .ip {
      margin-top: 10px;
      font-family: "SF Pro Display";
      font-size: 80px;
      font-weight: 900;
      letter-spacing: -2.4px;
      line-height: 95px;
      color: #ffffff;
      text-align: center;
      transition: transform .5s $ease-both 0s;
    }

    .current-location {
      margin-top: 20px;
      font-family: "SF Pro Display";
      font-size: 24px;
      font-weight: 500;
      line-height: 29px;
      color: rgba(255, 255, 255, .5);
      text-align: center;
      transition: transform .5s $ease-both 0s;

      span {
        color: #ffffff;
      }
    }

    .select-location {
      display: flex;
      justify-content: space-between;
      margin: 52px auto 0;
      width: 500px;
      height: 70px;
      transition: transform .5s $ease-both 0s;

      .location {
        padding-left: 27.5px;
        width: 305px;
        height: 70px;
        border: 2px solid #ffffff;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, .1);
        font-family: "SF Pro Display";
        font-size: 24px;
        font-weight: 500;
        line-height: 66px;
        color: #ffffff;

        span {
          color: rgba(255, 255, 255, .7);
        }
      }

      .select-btn {
        width: 175px;
        height: 70px;
        border-radius: 10px;
        background-color: #ffffff;
        font-family: "SF Pro Display";
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        color: #101012;
        text-align: center;
      }
    }
  }

  .pin-field {
    position: absolute;
    z-index: $z-index-base;
    top: 277px;
    left: 720px;

    .pin-centre {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(-50%, -50%);
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #ffffff;
    }

    .pin-wave-small {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(-50%, -50%);
      width: 110px;
      height: 110px;
      border: 2px solid rgba(255, 255, 255, .3);
      border-radius: 50%;
      background-color: rgba(255, 255, 255, .04);
    }

    .pin-wave-normal {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(-50%, -50%);
      width: 450px;
      height: 450px;
      border: 2px solid rgba(255, 255, 255, .1);
      border-radius: 50%;
      background-color: rgba(255, 255, 255, .04);
    }

    .pin-wave-large {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(-50%, -50%);
      width: 960px;
      height: 960px;
      border: 2px solid rgba(255, 255, 255, .05);
      border-radius: 50%;
      background-color: rgba(255, 255, 255, .02);
    }
  }

  .maps {
    &::after {
      position: absolute;
      z-index: $z-index-base - 2;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      content: '';
      background: radial-gradient(circle, rgba(16, 16, 18, 0) 0%, rgba(16, 16, 18, .88) 100%);
    }

    .Lagos-Nigeria {
      $scale-value: 1.0306;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      transform: scale($scale-value) translate(50% - 50% / $scale-value, 50% - 50% / $scale-value) translate(-22 / $scale-value + px, -369 / $scale-value + px);
    }

    .United-States {
      $scale-value: .8375;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      opacity: 0;
      transform: scale($scale-value) translate(50% - 50% / $scale-value, 50% - 50% / $scale-value) translate(117 / $scale-value + px, -153 / $scale-value + px);
    }

    .Iowa-US {
      $scale-value: .0653;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      opacity: 0;
      transform: scale($scale-value) translate(50% - 50% / $scale-value, 50% - 50% / $scale-value) translate(944.02 / $scale-value + px, 199.02 / $scale-value + px);
    }
  }

  .globe {
    $scale-value: 15.0083;
    position: absolute;
    z-index: $z-index-base - 3;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transform: scale($scale-value) translate(50% - 50% / $scale-value, 50% - 50% / $scale-value) translate(-9992 / $scale-value + px, -5849 / $scale-value + px) rotate(90deg);
  }

  .map-grid {
    position: absolute;
    z-index: $z-index-base - 4;
    top: 0;
    left: 0;
    width: 1460px;
    height: 921px;
    background-image: url(../images/Map-Grid.png);
    background-size: 100%;
    background-repeat: no-repeat;
    transform: translate(-10px, -10px);
  }
}